<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<header>
    <nav>
        <h1>Todo's</h1>
        <h2><a href="../index.ejs">Today</a></h2>
        <h2><a href="../school.ejs">School</a></h2>
    </nav>

</header>

<body>