<%- include('./partials/header.ejs') %>


    <div>
        <div id="todoInput">
            <form action="/adddaytodo" method="POST">
                <input type="text" name="todo" placeholder="Enter your todo here" class="inputText">
                <input type="submit" value="OK" class="inputSubmit">
            </form>
        </div>
        <div class="gridcontainer">
            <% if (locals.listedTodos) { %>
                <% listedTodos.forEach(element=> { %>
                    <div class="task">
                        <input type="checkbox" name="checkbox1" class="todo checkbox">
                        <p class="todo">
                            <%= element %>
                        </p>
                        </div>
                <% }) %>
                    <% } %>
                    
        </div>
    </div>




    <%- include('./partials/footer.ejs') %>