<%- include('./partials/header.ejs') %>


    <div>
        <h1>
            <%= day %>
        </h1>
        <div>
            <input type="checkbox" name="checkbox1" class="todo">
            <label for="checkbox1">My test Todo</label>
        </div>
    </div>

    <p>Content</p>




    <%- include('./partials/footer.ejs') %>