<%- include('./partials/header.ejs') %>


    <div>
        <div>
            <form action="/adddaytodo" method="POST">
                <input type="text" name="todo" placeholder="Enter your todo here">
                <input type="submit" value="OK">
            </form>
        </div>
        <div>
            <% if (locals.listedTodos) { %>
                <% listedTodos.forEach(element=> { %>
                    <input type="checkbox" name="checkbox1" class="todo">
                    <label for="checkbox1">
                        <%= element %>
                    </label>
                <% }) %>
                    <% } %>
                    
        </div>
    </div>

    <p>Content</p>




    <%- include('./partials/footer.ejs') %>